<div class="wrapper">
    <div class="side_menu">
        <div class="logo">
            <img src="assets\faculty_logo.png" alt="logo" class="logo_img">
        </div>
        <div class="butons">
            <div class="profile">
                <button routerLink="/Profile" class="profile_btn">
                    <img src="assets\profile.png" alt="profile" class="profile_img">
                    <span>Профіль</span>
                </button>
            </div>
            <div class="schedule">
                <button class="schedule_btn" routerLink="/Schedule">
                    <img src="assets\schedule.png" alt="schedule" class="schedule_img">
                    <span>Розклад</span>
                </button>
            </div>
            <div class="chats">
                <button class="chat_btn" routerLink="/Chats">
                    <img src="assets\message.svg" alt="chats" class="chat_img">
                    <span>Спілкування</span>
                </button>
            </div>
            <div class="setting">
                <button routerLink="/Setting" class="setting_btn">
                    <img src="assets\setting.png" alt="setting" class="setting_img">
                    <span>Налаштування</span>
                </button>
            </div>
            <div class="setting">
                <button class="setting_btn" (click)="Logout()">
                    <img src="assets\logout-svgrepo-com.svg" alt="setting" class="setting_img">
                    <span>Вийти</span>
                </button>
            </div>
        </div>
    </div>
</div>
